.up-event {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: -20px;
    padding: 1rem 1rem 1rem 2.5rem;
    border-radius: 16px;
    color: var(--forest);
    background-color: var(--gray-06);
    z-index: 1;
}

.up-event header {
    position: relative;
    overflow: hidden;
}

.up-event > div {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.up-event h6 {
    width: 100%;
    margin: 4px 0;
    text-align: right;
}

.up-event h2,
.up-event i {
    margin: .5rem 0 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: normal;
}

.up-event i {
    color: rgb(94 109 85 / 39%);
}

.up-event h2 {
    max-height: 200px;
    overflow-y: auto;
}

.up-event_center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--gray-01);
}

.up-event input {
    border: none;
    font-family: Arial, sans-serif;
    line-height: 1.2rem;
    width: 100%;
    padding: .5rem;
    outline: 1px solid var(--gray-01);
    appearance: none;
    color: var(--forest);
    background-color: var(--white);
    border-radius: 8px;
    resize: none;
}

.up-event button {
    margin-top: 1rem;
    appearance: none;
    border: none;
    color: var(--white);
    width: 100%;
    font-size: 1rem;
    outline: 1px solid transparent;
    background-color: var(--forest);
    padding: .5rem .5rem;
    border-radius: 8px;
    cursor: pointer;
}

.up-event button:focus-within {
    outline-color: var(--gray-01);
    outline-offset: 2px;
    transition: outline .2s ease-out;
}

.up-event button:active {
    outline-offset: 0;
}
