@import "./reset.css";
@import "./calendar.css";
@import "./event.css";
@import "./month-select.css";

:root {
    --cell-size: 2rem;
    --cell-gap-size: .75rem;
    --white: #fff;
    --gray-01: #5e6d55;
    --gray-06: #f2f7f2;
    --up-green: #14a800;
    --brand-green: #108a00;
    --forest: #13544e;
    /*--black-btn-bg: #001e00;*/
    /*--blue: #1f57c3;*/
}

body {
    display: grid;
    align-items: start;
    justify-content: center;
    padding: 5rem 0 0;
}


@media screen and (max-width: 600px) {
    .up-calendar {
        flex-direction: column;
    }

    .up-event {
        width: auto;
        margin-left: 0;
        padding: 24px;
    }
}


@media screen and (max-width: 420px) {
    body {
        padding-top: 0;
        background-color: #000;
    }

    .up-calendar {
        height: 100vh;
        width: 100vw;
    }

    .cal-el__calendar {
        width: 100%;
        padding: 12px;
        border-radius: 0;
        gap: 2px;
        justify-content: space-between;
    }

    .up-event {
        flex-grow: 1;
        margin-left: 0;
        width: 100vw;
        border-radius: 0;
        padding: 24px;
    }

    .up-event h6 {
        font-size: 1rem;
    }

    .up-event h2,
    .up-event i {
        font-size: 1.4rem;
    }

    .up-event input {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .up-event button {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .up-cal__month-prev,
    .up-cal__month-next,
    .up-cal__date-month-year {
        font-size: 1.2rem;
        height: 48px;
    }

    .up-cal__month-prev,
    .up-cal__month-next {
        width: 48px;
    }

    .up-cal__weekday,
    .up-cal__day,
    .up-cal__day-offset {
        height: 48px;
        width: clamp(calc((100vw - 24px - 2px * 6) / 7), var(--cell-size), var(--cell-size));
        outline: none;
        font-size: 1.2rem;
    }

    .up-cal__day-active {
        outline: 1px solid var(--gray-01);
        transform: none;
        outline-offset: 0;
    }
}

@media screen and (max-width: 374px) {
    .up-cal__weekday,
    .up-cal__day,
    .up-cal__day-offset {
        height: 32px;
    }
}
